<nav id="main-nav">
  <ul>
    <li>
      <svg class="oba-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 75">
    		<path fill="white" d="M46.164,0h15v32.199h0.2c3.399-4.699,9.2-6.398,15.399-6.398c13.801,0,22.2,12.398,22.2,25.898
    			c0,14.7-9.5,25.101-23.899,25.101c-6.801,0-12.601-4.101-14.9-7.601h-0.2v6.4h-13.8V0z M71.964,63.6c7.5,0,12-5,12-12.3
    			c0-7.301-4.5-12.301-12-12.301s-12,5-12,12.301C59.964,58.6,64.464,63.6,71.964,63.6z"/>

    		<path fill="white" d="M0.297,51.418c0-11.25,7.5-20.25,19.125-20.25c11.626,0,19.126,9,19.126,20.25s-7.5,20.25-19.126,20.25
    			C7.797,71.668,0.297,62.668,0.297,51.418z M28.647,51.418c0-5.625-3.75-9-9.226-9c-5.475,0-9.225,3.375-9.225,9s3.75,9,9.225,9
    			C24.897,60.418,28.647,57.043,28.647,51.418z"/>

    		<path fill="white" d="M138.798,44.706v0.149c3.9,2.476,5.476,6.976,5.476,11.551c0,6.824-3.9,12.975-11.251,12.975
    			c-12.6,0-12.824-15.3-12.824-24.675c-3.976,0-6.525,3.3-6.525,7.2c0,3.675,1.65,6.75,4.35,9.149l-6.149,6
    			c-3.9-4.125-5.851-10.125-5.851-16.05c0-13.125,6.675-16.65,18.825-16.65h18.525v10.351H138.798z M127.397,47.48
    			c0,3.45,0.301,11.101,5.25,11.101c2.7,0,3.976-2.851,3.976-5.325c0-4.425-2.325-8.55-6.825-8.55h-2.4V47.48z"/>
    </svg>
  </li>
    <li><a href="/search">Ga naar zoeken</a></li>
  </ul>
</nav>
