<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <title>List</title>
</head>
<body>
  <% results.forEach(d => { %>
    <ul>
      <li><%= d.titles["short-title"]._ %></li>
      <li><%= d.authors["main-author"]._ %></li>
      <li><a class="detail-link" href="/detail/<%= d.id.$.nativeid %>">Lees meer <span class="hiddenAlt">over <%= d.titles["short-title"]._ %></span></a></li>
    </ul>
  <% }) %>
</body>
</html>
