<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/styles.css">
  <meta name="description" content="Fun way to look for books">
  <meta name="theme-color" content="#e83f33">
  <meta http-equiv="refresh" content="0;url=<%= callBackUrl %>" />
  <script defer src="../js/main.js"></script>
  <link rel="manifest" href="../manifest.json">
  <title>Loading</title>
</head>


<body>
  <% const headTitle = "Laden"%>
  <%- include partials/header-nav.ejs %>

  <% if (page == "list") { %>
    <div class="skeleton-list">
      <% for (let i = 0; i < 10; i++) { %>
        <div class="skeleton-list-article"></div>
      <% } %>
    </div>
  <% } %>

  <% if (page == "detail") { %>
    <div class="skeleton-detail">
      <div class="skeleton-detail-img"></div>
      <div class="skeleton-detail-aside"></div>
    </div>
  <% } %>

</body>
</html>
