* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'VT323', monospace;
}

li {
  list-style-type: none;
}


.hiddenAlt {
  position: absolute;
  overflow: hidden;
  height: 0; width: 0;
}

.detail-link::after {
  content: "...";
}

.form-genre.add {
  width: 75vw;
  min-width: 310px;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #2b2b2a;
  border-radius: 25px;
  padding: 4% 3%;
}

.form-genre.add button[type="submit"] {
  font-size: 2rem;
  height: 100px;
  margin: .1em;
  min-width: 200px;
  width: auto;
  font-family: inherit;
  overflow: hidden;
  border: none;
  border-radius: 25px;
  padding: 0 .5em;
  /* background: blue; */

}

.form-genre.add button[type="submit"]:nth-of-type(3n - 2) {
  background: #f4cb42
}
.form-genre.add button[type="submit"]:nth-of-type(3n - 1) {
  background: #32bbe5;
}

.form-genre.add button[type="submit"]:nth-of-type(3n) {
  background: #3bc64b;
}


.form-word.add {
  width: 75vw;
  min-width: 310px;
  max-width: 500px;
  padding: 4% 3% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2b2b2a;
  border-radius: 25px;
  position: relative;
}
.form-genre.add, .form-word.add {
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto
}
.form-genre.remove, .form-word.remove {
  margin-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
}


.form-word.add input[type="text"] {
  width: 100%;
  font-size: 2rem;
  height: 1.75em;
  margin-bottom: .5em;
  padding: 0 .25em;
  border-radius: 5px;
  background: black;
  border: solid 2px black;
  color: limegreen;
  letter-spacing: .05em;
  position: relative;
}

.form-word.add button[type="submit"] {
  font-size: 2rem;
  padding: .25em .5em;
  border-radius: 100px;
  font-weight: medium;
  margin-bottom: .5em;
  position: relative;
  background: #00a0e4;
  color: white;
  border: none;
}

.form-word.remove, .form-genre.remove {
  /* font-family: 'VT323', monospace; */
  width: 50vw;
  min-width: 310px;
  max-width: 400px;

  display: flex;
}
.form-word.remove ul, .form-genre.remove ul {
  width: 100%;
  background: #f9f9ea;
}
.form-word.remove li, .form-genre.remove li {
  font-size: 2rem;
  width: 100%;
  position: relative;
  display: flex;
  padding: .25em .5em;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;
}

.form-word.remove li:not(:last-child), .form-genre.remove li:not(:last-child) {
  border-bottom: dotted 2px black;
}

.form-word.remove li:hover, .form-genre.remove li:hover {
  color: red;
  text-decoration: line-through;
}


.form-word.remove li input[type="submit"],
.form-genre.remove li input[type="submit"] {
  position: absolute;
  border: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.form-word input[type="submit"]:hover,
.form-genre input[type="submit"]:hover {
  cursor: pointer;
}

.section-switch {
  display: block;
  position: fixed;
  font-size: 2rem;
  line-height: 1.5em;
  padding: .25em .5em;
  background: #d72157;
  text-decoration: none;
  color: white;
  top: .5em;
  /* margin: .5em 0; */
}
.section-switch.right {
  right: 0;
  border-radius: 1em 0 0 1em
}

.section-switch.left {
  left: 0;
  border-radius: 0 1em 1em 0
}

.search-btn {
  position: fixed;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5em;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

#l-results {
  width: 50vw;
  margin: 0 auto;
}

#l-results article {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  min-width: 300px;
  border: solid 3px black;
}

#l-results article img {
  min-width: 200px;
  min-height: 200px;
  background: black;
  border-right: solid 3px black;
}

#l-results article section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 1rem;
}

#l-results article section h1 {
  font-size: 1.5rem;
  text-overflow: ellipsis;
  border-bottom: solid 1px black;
  width: 100%;
  /* max-width: 100%; */

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

#l-results article section h2 {
  font-size: 1.15rem;
}

.detail-link {
  margin-top: auto;
  color: red;
  font-weight: bold;
}
