<svg class="bg-itm large float-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.3 158.83">
  <defs>
    <style>
      .books-cls-1 {
        fill: #2b74b9;
      }

      .books-cls-2 {
        fill: #373886;
        opacity: 0.7;
      }

      .books-cls-12,
      .books-cls-3,
      .books-cls-8 {
        fill: #fff;
      }

      .books-cls-3,
      .books-cls-7 {
        opacity: 0.1;
      }

      .books-cls-4 {
        fill: #675349;
      }

      .books-cls-5 {
        fill: #805430;
      }

      .books-cls-6 {
        fill: #e9532a;
      }

      .books-cls-10,
      .books-cls-7 {
        fill: #2b2b2a;
      }

      .books-cls-10,
      .books-cls-8 {
        opacity: 0.2;
      }

      .books-cls-9 {
        fill: #fe0;
      }

      .books-cls-11 {
        fill: #11903e;
      }
    </style>
  </defs>
  <title>Asset 24</title>
      <g>
        <g>
          <path class="books-cls-1" d="M33.55,2.08V156.75a2.08,2.08,0,0,1-2.08,2.08H2.08a2.08,2.08,0,0,1-2-1.4,2.15,2.15,0,0,1-.11-.68V2.08A2.08,2.08,0,0,1,2.08,0H31.47a2.09,2.09,0,0,1,1.7.88A2.06,2.06,0,0,1,33.55,2.08Z" />
          <rect class="books-cls-2" y="16.96" width="33.54" height="5.12" />
          <rect class="books-cls-2" y="6.23" width="33.54" height="5.12" />
          <path class="books-cls-3" d="M33.17.88q-1.1,2.49-2.27,5.35c-.65,1.62-1.33,3.33-2,5.13S27.52,15,26.82,17c-.59,1.64-1.18,3.34-1.78,5.12C15.76,49.59,5.26,93.09.11,157.43a2.15,2.15,0,0,1-.11-.68V2.08A2.08,2.08,0,0,1,2.08,0H31.47A2.09,2.09,0,0,1,33.17.88Z" />
        </g>
        <g>
          <path class="books-cls-4" d="M72.15,43.9V155.08a3.75,3.75,0,0,1-3.75,3.75H37.29a3.75,3.75,0,0,1-3.46-2.31,3.85,3.85,0,0,1-.28-1.44V43.9a3.74,3.74,0,0,1,3.74-3.75H68.4a3.71,3.71,0,0,1,2.86,1.33A3.75,3.75,0,0,1,72.15,43.9Z" />
          <rect class="books-cls-5" x="33.55" y="57.83" width="38.6" height="83.31" />
          <path class="books-cls-3" d="M71.26,41.48a164.22,164.22,0,0,0-9.51,16.35c-9.24,18.08-19.41,45.09-25.68,83.31q-1.23,7.41-2.24,15.38a3.85,3.85,0,0,1-.28-1.44V43.9a3.74,3.74,0,0,1,3.74-3.75H68.4A3.71,3.71,0,0,1,71.26,41.48Z" />
        </g>
        <g>
          <path class="books-cls-6" d="M91.45,21.57V157a1.81,1.81,0,0,1-1.81,1.82H74a1.8,1.8,0,0,1-1.77-1.45v0a1.34,1.34,0,0,1,0-.35V21.57A1.81,1.81,0,0,1,74,19.76H89.64A1.81,1.81,0,0,1,91.45,21.57Z" />
          <rect class="books-cls-7" x="72.15" y="31.2" width="19.3" height="116.19" />
          <path class="books-cls-8" d="M81.8,19.76c-.47,3.24-1,7-1.53,11.44-2.7,22-6,59.09-7.8,116.19q-.15,4.89-.28,10a1.34,1.34,0,0,1,0-.35V21.57A1.81,1.81,0,0,1,74,19.76Z" />
        </g>
        <g>
          <path class="books-cls-9" d="M110.75,21.57V157a1.81,1.81,0,0,1-1.81,1.82H93.27a1.81,1.81,0,0,1-1.78-1.45v0a1.34,1.34,0,0,1,0-.35V21.57a1.81,1.81,0,0,1,1.82-1.81h15.67A1.81,1.81,0,0,1,110.75,21.57Z" />
          <rect class="books-cls-10" x="91.45" y="31.2" width="19.3" height="116.19" />
          <path class="books-cls-8" d="M101.1,19.76c-.47,3.24-1,7-1.53,11.44-2.7,22-6,59.09-7.8,116.19q-.15,4.89-.28,10a1.34,1.34,0,0,1,0-.35V21.57a1.81,1.81,0,0,1,1.82-1.81Z" />
        </g>
        <g>
          <path class="books-cls-11" d="M144.3,3.81V155a3.8,3.8,0,0,1-3.81,3.81H114.56a3.77,3.77,0,0,1-3.6-2.58,3.57,3.57,0,0,1-.21-1.23V3.81A3.8,3.8,0,0,1,114.56,0h25.93a3.8,3.8,0,0,1,3.81,3.81Z" />
          <rect class="books-cls-12" x="110.75" y="8.81" width="33.55" height="3.72" />
          <rect class="books-cls-12" x="110.75" y="146.3" width="33.55" height="3.72" />
          <path class="books-cls-10" d="M144.3,8.81V150a56,56,0,0,1-33.55,0V8.8a56,56,0,0,1,33.55,0Z" />
          <path class="books-cls-3" d="M143.6,1.6Q142.34,4.49,141,7.89l-.36.92q-.7,1.79-1.44,3.72C129.73,37.68,118,80.32,111.83,146.3c-.12,1.23-.23,2.47-.34,3.72a1.49,1.49,0,0,0,0,.21h0c-.18,2-.35,4-.51,6a3.57,3.57,0,0,1-.21-1.23V3.81A3.8,3.8,0,0,1,114.56,0h25.93A3.8,3.8,0,0,1,143.6,1.6Z" />
        </g>
      </g>
</svg>
