<svg id="bg-flasks" class="bg-itm tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.32 174.18">
  <defs>
    <style>
      .flask-cls-1,
      .flask-cls-3 {
        fill: #fff;
      }

      .flask-cls-1 {
        opacity: 0.5;
      }

      .flask-cls-2 {
        fill: #00a0e4;
      }

      .flask-cls-3 {
        opacity: 0.7;
      }

      .flask-cls-4 {
        fill: #38ad6a;
      }

      .flask-cls-5 {
        fill: #e9532a;
      }

      .flask-cls-6 {
        fill: #fe0;
      }

      .flask-cls-7 {
        fill: #d72157;
      }

      .flask-cls-8 {
        fill: #737372;
      }
    </style>
  </defs>
  <title>Asset 23</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <g id="test-tubes">
        <g id="test-tubes-2" data-name="test-tubes">
          <g id="potion">
            <path id="potion-glass" class="flask-cls-1" d="M17.56,0H40.25a0,0,0,0,1,0,0V152.84a11.34,11.34,0,0,1-11.34,11.34h0a11.34,11.34,0,0,1-11.34-11.34V0A0,0,0,0,1,17.56,0Z" />
            <path id="potion-fluid" class="flask-cls-2" d="M36.95,42.29a16.05,16.05,0,0,1-5.27.86A15.71,15.71,0,0,1,25.76,42a15.71,15.71,0,0,1-5.91,1.1A17,17,0,0,1,17.56,43V152.84a11.34,11.34,0,0,0,11.34,11.34h0a11.34,11.34,0,0,0,11.34-11.34V43A15.4,15.4,0,0,1,36.95,42.29Z" />
            <path id="potion-reflection" class="flask-cls-3" d="M27.94,3H20.57V114.52S20,8.26,27.94,3Z" />
          </g>
          <g id="potion-2" data-name="potion">
            <path id="potion-glass-2" data-name="potion-glass" class="flask-cls-1" d="M50.69,0H73.38a0,0,0,0,1,0,0V152.84A11.34,11.34,0,0,1,62,164.18h0a11.34,11.34,0,0,1-11.34-11.34V0a0,0,0,0,1,0,0Z" />
            <path id="potion-fluid-2" data-name="potion-fluid" class="flask-cls-4" d="M70.07,42.29a16.05,16.05,0,0,1-5.27.86A15.71,15.71,0,0,1,58.89,42,15.71,15.71,0,0,1,53,43.14,17,17,0,0,1,50.69,43V152.84A11.34,11.34,0,0,0,62,164.18h0a11.34,11.34,0,0,0,11.34-11.34V43A15.4,15.4,0,0,1,70.07,42.29Z" />
            <path id="potion-reflection-2" data-name="potion-reflection" class="flask-cls-3" d="M61.07,3H53.7V114.52S53.13,8.26,61.07,3Z" />
          </g>
          <g id="potion-3" data-name="potion">
            <path id="potion-glass-3" data-name="potion-glass" class="flask-cls-1" d="M83.82,0h22.69a0,0,0,0,1,0,0V152.84a11.34,11.34,0,0,1-11.34,11.34h0a11.34,11.34,0,0,1-11.34-11.34V0A0,0,0,0,1,83.82,0Z" />
            <path id="potion-fluid-3" data-name="potion-fluid" class="flask-cls-5" d="M103.2,42.29a16.05,16.05,0,0,1-5.27.86A15.71,15.71,0,0,1,92,42a15.71,15.71,0,0,1-5.91,1.1A17,17,0,0,1,83.82,43V152.84a11.34,11.34,0,0,0,11.34,11.34h0a11.34,11.34,0,0,0,11.34-11.34V43A15.4,15.4,0,0,1,103.2,42.29Z" />
            <path id="potion-reflection-3" data-name="potion-reflection" class="flask-cls-3" d="M94.19,3H86.83V114.52S86.26,8.26,94.19,3Z" />
          </g>
          <g id="potion-4" data-name="potion">
            <path id="potion-glass-4" data-name="potion-glass" class="flask-cls-1" d="M116.94,0h22.69a0,0,0,0,1,0,0V152.84a11.34,11.34,0,0,1-11.34,11.34h0a11.34,11.34,0,0,1-11.34-11.34V0A0,0,0,0,1,116.94,0Z" />
            <path id="potion-fluid-4" data-name="potion-fluid" class="flask-cls-6" d="M136.33,42.29a16.05,16.05,0,0,1-5.27.86,15.71,15.71,0,0,1-5.91-1.1,15.71,15.71,0,0,1-5.91,1.1,17,17,0,0,1-2.29-.16V152.84a11.34,11.34,0,0,0,11.34,11.34h0a11.34,11.34,0,0,0,11.34-11.34V43A15.4,15.4,0,0,1,136.33,42.29Z" />
            <path id="potion-reflection-4" data-name="potion-reflection" class="flask-cls-3" d="M127.32,3H120V114.52S119.39,8.26,127.32,3Z" />
          </g>
          <g id="potion-5" data-name="potion">
            <path id="potion-glass-5" data-name="potion-glass" class="flask-cls-1" d="M150.07,0h22.69a0,0,0,0,1,0,0V152.84a11.34,11.34,0,0,1-11.34,11.34h0a11.34,11.34,0,0,1-11.34-11.34V0A0,0,0,0,1,150.07,0Z" />
            <path id="potion-fluid-5" data-name="potion-fluid" class="flask-cls-7" d="M169.46,42.29a16.05,16.05,0,0,1-5.27.86,15.71,15.71,0,0,1-5.91-1.1,15.71,15.71,0,0,1-5.91,1.1,17,17,0,0,1-2.29-.16V152.84a11.34,11.34,0,0,0,11.34,11.34h0a11.34,11.34,0,0,0,11.34-11.34V43A15.4,15.4,0,0,1,169.46,42.29Z" />
            <path id="potion-reflection-5" data-name="potion-reflection" class="flask-cls-3" d="M160.45,3h-7.37V114.52S152.51,8.26,160.45,3Z" />
          </g>
        </g>
        <path id="rack" class="flask-cls-8" d="M178.61,52.76H11.72A11.73,11.73,0,0,0,0,64.48v109.7H190.32V64.48A11.73,11.73,0,0,0,178.61,52.76Zm-166.89,6H178.61a5.72,5.72,0,0,1,5.72,5.72v76.93H6V64.48A5.72,5.72,0,0,1,11.72,58.76ZM6,168.18V147.41H184.32v20.77Z" />
      </g>
    </g>
  </g>
</svg>
