<svg class="bg-itm medium float-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 362.33 278.72">
  <defs>
    <style>
      .left-potion-cls-1 {
        fill: #f9b33c;
      }

      .left-potion-cls-2,
      .left-potion-cls-3 {
        fill: #fff;
      }

      .left-potion-cls-2 {
        opacity: 0.5;
      }

      .left-potion-cls-3 {
        opacity: 0.7;
      }

      .left-potion-cls-4 {
        fill: #737372;
      }
    </style>
  </defs>
  <title>Asset 22</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <path id="potion-tube" class="left-potion-cls-1" d="M223.88,122.39c-10,14.55-33.76,12-47.17,4.41-8.25-4.69-15-11.56-20.93-18.91-2.62-3.27-5.19-6.67-7.52-10.23a41.68,41.68,0,0,0,11.17-13.38c4.71-8.89,6.71-20.26,1.49-29.4-4.46-7.79-14.2-10.2-20.84-3.47-8,8.14-6.94,21.42-3.52,31.34a73.8,73.8,0,0,0,6.64,14,35.77,35.77,0,0,1-18.83,6.12,36.81,36.81,0,0,1-10.79-1.4A52.19,52.19,0,0,0,114.93,90c0-9-3.37-21.09-13.36-23.64C94.26,64.44,84.11,69,84.38,77.54c.31,10.06,11.27,19.67,19.4,24a41.19,41.19,0,0,0,5.28,2.36,54.67,54.67,0,0,1-2.81,7.33,56.38,56.38,0,0,1-17.43,21.44,57.67,57.67,0,0,1-8.28,5.13c3-8.22,1-17.43-2.58-25.8-4.2-9.69-11.75-19-22.87-20.34-9.79-1.17-19.42,4.26-20.93,14.49-1.6,10.77,4.7,23.19,11.81,31s16.29,9.68,25.28,7.85c-18,16.79-47.81,9.26-68.91,4.43C0,148.85-1,152.47,1.34,153c23,5.26,57,13.26,74.89-7.82A24.18,24.18,0,0,0,77.9,143c10.67-4.16,20.59-12.66,26.53-21.11a59.22,59.22,0,0,0,8.2-16.83,40.81,40.81,0,0,0,32.52-5.16h0a128,128,0,0,0,12,15.46c14.56,16.21,38.17,27.72,59.65,17.64a25.29,25.29,0,0,0,10.28-8.7C228.49,122.28,225.24,120.41,223.88,122.39ZM75.27,140.06c-5,1.76-10.2,2.54-15.15,1.47-16-3.46-35.28-41.33-11.21-46,11.41-2.2,20.17,6.61,24.76,16.07C78.12,120.77,80.41,131.46,75.27,140.06ZM110,100.3a39.39,39.39,0,0,1-11-6.41c-5.55-4.58-16.72-17.16-6.84-22.75,10.43-5.88,17.71,5.51,18.76,14.6A43.13,43.13,0,0,1,110,100.3ZM139.92,81c-2.76-8.44-4.29-21.45,3.73-27.77,10.08-8,16.93,6.57,16.64,14.84-.36,10.35-5.95,20-14,26.47A65.28,65.28,0,0,1,139.92,81Z" />
      <path id="potion-glass" class="left-potion-cls-2" d="M328.57,99.61a53.4,53.4,0,0,1-106.8,0c0-1.76.09-3.5.26-5.22a53.42,53.42,0,0,1,38.73-46.2V7.2h-1.58a3.6,3.6,0,0,1,0-7.2h32a3.6,3.6,0,0,1,0,7.2h-1.59v41a53.43,53.43,0,0,1,38.74,46.19C328.48,96.1,328.57,97.85,328.57,99.61Z" />
      <path id="potion-fluid" class="left-potion-cls-1" d="M328.57,99.61a53.4,53.4,0,0,1-106.8,0c0-1.76.09-3.5.26-5.22A17.23,17.23,0,0,0,228,91.8a17,17,0,0,0,18.24.66l0,0a10.22,10.22,0,0,0,10.14,0c.36-.21.72-.44,1.06-.67a17,17,0,0,0,18.25.66l0,0a10.72,10.72,0,0,0,10.68,0l0,0a17,17,0,0,0,18.25-.66c.34.23.7.46,1.06.67a10.22,10.22,0,0,0,10.14,0l0,0a16.92,16.92,0,0,0,8.6,2.34,16.38,16.38,0,0,0,3.72-.42C328.48,96.1,328.57,97.85,328.57,99.61Z" />
      <ellipse id="potion-reflection" class="left-potion-cls-3" cx="244.61" cy="69.66" rx="15.39" ry="4.99" transform="translate(22.39 193.36) rotate(-45)" />
      <path id="potion-connector" class="left-potion-cls-4" d="M227.23,114.43h1.53a1.11,1.11,0,0,1,1.11,1.11v15.27a1.11,1.11,0,0,1-1.11,1.11h-1.53A5.22,5.22,0,0,1,222,126.7v-7A5.22,5.22,0,0,1,227.23,114.43Z" transform="translate(-31.31 116.85) rotate(-27.19)" />
      <path id="potion-base" class="left-potion-cls-4" d="M314.09,134.13H236.25c-4.26,0-8,2.37-8.9,5.72L188,278.72H362.33L323,139.84C322,136.5,318.35,134.13,314.09,134.13Zm-42,50.47-75.86,83.15,36-126.89Zm-36.2-46.46h78.59l-39.29,43.07ZM275.17,188l79.12,86.73H196Zm3.09-3.39,39.91-43.74,36,126.89Z" />
      <g id="potion-bubbles">
        <g id="bubble">
          <circle id="bubble-fluid" class="left-potion-cls-1" cx="269.04" cy="61.74" r="9.97" />
          <ellipse id="bubble-light" class="left-potion-cls-3" cx="264.67" cy="56.48" rx="4.52" ry="1.44" transform="translate(27.58 186.97) rotate(-40.87)" />
          <circle id="bubble-light-2" data-name="bubble-light" class="left-potion-cls-3" cx="269.82" cy="54.03" r="0.76" />
        </g>
        <g id="bubble-2" data-name="bubble">
          <circle id="bubble-fluid-2" data-name="bubble-fluid" class="left-potion-cls-1" cx="305.53" cy="73.56" r="8.63" />
          <ellipse id="bubble-light-3" data-name="bubble-light" class="left-potion-cls-3" cx="301.74" cy="69.01" rx="3.91" ry="1.25" transform="translate(28.42 214.29) rotate(-40.87)" />
          <circle id="bubble-light-4" data-name="bubble-light" class="left-potion-cls-3" cx="306.2" cy="66.89" r="0.66" />
        </g>
        <g id="bubble-3" data-name="bubble">
          <circle id="bubble-fluid-3" data-name="bubble-fluid" class="left-potion-cls-1" cx="275.17" cy="79.31" r="4.65" />
          <ellipse id="bubble-light-5" data-name="bubble-light" class="left-potion-cls-3" cx="273.13" cy="76.85" rx="2.11" ry="0.67" transform="translate(16.31 197.48) rotate(-40.87)" />
          <circle id="bubble-light-6" data-name="bubble-light" class="left-potion-cls-3" cx="275.53" cy="75.71" r="0.35" />
        </g>
        <g id="bubble-4" data-name="bubble">
          <circle id="bubble-fluid-4" data-name="bubble-fluid" class="left-potion-cls-1" cx="280.53" cy="41.81" r="4.65" />
          <ellipse id="bubble-light-7" data-name="bubble-light" class="left-potion-cls-3" cx="278.49" cy="39.36" rx="2.11" ry="0.67" transform="translate(42.15 191.84) rotate(-40.87)" />
          <circle id="bubble-light-8" data-name="bubble-light" class="left-potion-cls-3" cx="280.89" cy="38.22" r="0.35" />
        </g>
        <g id="bubble-5" data-name="bubble">
          <circle id="bubble-fluid-5" data-name="bubble-fluid" class="left-potion-cls-1" cx="267.87" cy="23.09" r="4.65" />
          <ellipse id="bubble-light-9" data-name="bubble-light" class="left-potion-cls-3" cx="265.84" cy="20.64" rx="2.11" ry="0.67" transform="translate(51.32 179) rotate(-40.87)" />
          <circle id="bubble-light-10" data-name="bubble-light" class="left-potion-cls-3" cx="268.24" cy="19.49" r="0.35" />
        </g>
        <g id="bubble-6" data-name="bubble">
          <circle id="bubble-fluid-6" data-name="bubble-fluid" class="left-potion-cls-1" cx="296.9" cy="86.96" r="4.65" />
          <ellipse id="bubble-light-11" data-name="bubble-light" class="left-potion-cls-3" cx="294.86" cy="84.5" rx="2.11" ry="0.67" transform="translate(16.6 213.56) rotate(-40.87)" />
          <circle id="bubble-light-12" data-name="bubble-light" class="left-potion-cls-3" cx="297.26" cy="83.36" r="0.35" />
        </g>
        <g id="bubble-7" data-name="bubble">
          <circle id="bubble-fluid-7" data-name="bubble-fluid" class="left-potion-cls-1" cx="251.29" cy="88.27" r="5.24" />
          <ellipse id="bubble-light-13" data-name="bubble-light" class="left-potion-cls-3" cx="248.99" cy="85.5" rx="2.38" ry="0.76" transform="translate(4.77 183.79) rotate(-40.87)" />
          <circle id="bubble-light-14" data-name="bubble-light" class="left-potion-cls-3" cx="251.7" cy="84.21" r="0.4" />
        </g>
        <g id="bubble-8" data-name="bubble">
          <circle id="bubble-fluid-8" data-name="bubble-fluid" class="left-potion-cls-1" cx="261.84" cy="78.49" r="2.77" />
          <ellipse id="bubble-light-15" data-name="bubble-light" class="left-potion-cls-3" cx="260.62" cy="77.03" rx="1.25" ry="0.4" transform="translate(13.15 189.34) rotate(-40.87)" />
        </g>
        <g id="bubble-9" data-name="bubble">
          <circle id="bubble-fluid-9" data-name="bubble-fluid" class="left-potion-cls-1" cx="269.04" cy="43.27" r="2.77" />
          <ellipse id="bubble-light-16" data-name="bubble-light" class="left-potion-cls-3" cx="267.83" cy="41.81" rx="1.25" ry="0.4" transform="translate(37.95 185.47) rotate(-40.87)" />
        </g>
        <g id="bubble-10" data-name="bubble">
          <circle id="bubble-fluid-10" data-name="bubble-fluid" class="left-potion-cls-1" cx="288.52" cy="71.71" r="6.78" />
          <ellipse id="bubble-light-17" data-name="bubble-light" class="left-potion-cls-3" cx="285.55" cy="68.13" rx="3.07" ry="0.98" transform="translate(25.05 203.48) rotate(-40.87)" />
          <circle id="bubble-light-18" data-name="bubble-light" class="left-potion-cls-3" cx="289.05" cy="66.47" r="0.52" />
        </g>
        <g id="bubble-11" data-name="bubble">
          <circle id="bubble-fluid-11" data-name="bubble-fluid" class="left-potion-cls-1" cx="249.02" cy="75.23" r="6.78" />
          <ellipse id="bubble-light-19" data-name="bubble-light" class="left-potion-cls-3" cx="246.05" cy="71.65" rx="3.07" ry="0.98" transform="translate(13.11 178.49) rotate(-40.87)" />
          <circle id="bubble-light-20" data-name="bubble-light" class="left-potion-cls-3" cx="249.55" cy="69.99" r="0.52" />
        </g>
        <g id="bubble-12" data-name="bubble">
          <circle id="bubble-fluid-12" data-name="bubble-fluid" class="left-potion-cls-1" cx="284.87" cy="88.31" r="4.18" />
          <ellipse id="bubble-light-21" data-name="bubble-light" class="left-potion-cls-3" cx="283.04" cy="86.1" rx="1.9" ry="0.6" transform="translate(12.68 206.22) rotate(-40.87)" />
          <circle id="bubble-light-22" data-name="bubble-light" class="left-potion-cls-3" cx="285.2" cy="85.07" r="0.32" />
        </g>
        <g id="bubble-13" data-name="bubble">
          <circle id="bubble-fluid-13" data-name="bubble-fluid" class="left-potion-cls-1" cx="266.28" cy="86.96" r="2.77" />
          <ellipse id="bubble-light-23" data-name="bubble-light" class="left-potion-cls-3" cx="265.07" cy="85.5" rx="1.25" ry="0.4" transform="translate(8.69 194.31) rotate(-40.87)" />
        </g>
        <g id="bubble-14" data-name="bubble">
          <circle id="bubble-fluid-14" data-name="bubble-fluid" class="left-potion-cls-1" cx="272.33" cy="36.75" r="1.96" />
          <ellipse id="bubble-light-24" data-name="bubble-light" class="left-potion-cls-3" cx="271.47" cy="35.71" rx="0.89" ry="0.28" transform="translate(42.83 186.36) rotate(-40.87)" />
        </g>
        <g id="bubble-15" data-name="bubble">
          <circle id="bubble-fluid-15" data-name="bubble-fluid" class="left-potion-cls-1" cx="273.13" cy="11.11" r="2.4" />
          <ellipse id="bubble-light-25" data-name="bubble-light" class="left-potion-cls-3" cx="272.08" cy="9.84" rx="1.09" ry="0.35" transform="translate(59.91 180.45) rotate(-40.87)" />
        </g>
        <g id="bubble-16" data-name="bubble">
          <circle id="bubble-fluid-16" data-name="bubble-fluid" class="left-potion-cls-1" cx="282.79" cy="29.61" r="2.4" />
          <ellipse id="bubble-light-26" data-name="bubble-light" class="left-potion-cls-3" cx="281.73" cy="28.34" rx="1.09" ry="0.35" transform="translate(50.16 191.28) rotate(-40.87)" />
        </g>
        <g id="bubble-17" data-name="bubble">
          <circle id="bubble-fluid-17" data-name="bubble-fluid" class="left-potion-cls-1" cx="280.93" cy="20.24" r="2.8" />
          <ellipse id="bubble-light-27" data-name="bubble-light" class="left-potion-cls-3" cx="279.7" cy="18.77" rx="1.27" ry="0.4" transform="translate(55.93 187.62) rotate(-40.87)" />
        </g>
        <g id="bubble-18" data-name="bubble">
          <circle id="bubble-fluid-18" data-name="bubble-fluid" class="left-potion-cls-1" cx="285.55" cy="56.48" r="2.77" />
          <ellipse id="bubble-light-28" data-name="bubble-light" class="left-potion-cls-3" cx="284.34" cy="55.02" rx="1.25" ry="0.4" transform="translate(33.33 199.49) rotate(-40.87)" />
        </g>
        <g id="bubble-19" data-name="bubble">
          <circle id="bubble-fluid-19" data-name="bubble-fluid" class="left-potion-cls-1" cx="237.49" cy="86.96" r="2.77" />
          <ellipse id="bubble-light-29" data-name="bubble-light" class="left-potion-cls-3" cx="236.28" cy="85.5" rx="1.25" ry="0.4" transform="translate(1.67 175.47) rotate(-40.87)" />
        </g>
      </g>
    </g>
  </g>
</svg>
